[submodule "google-chrome"]
	path = google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "spotify-stable"]
	path = spotify-stable
	url = https://aur.archlinux.org/spotify-stable.git
[submodule "google-cloud-sdk"]
	path = google-cloud-sdk
	url = https://aur.archlinux.org/google-cloud-sdk.git
